<!DOCTYPE html>
<html>
<head>
	<title>Vue JS intro</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.4/vue.min.js"></script>
	<link href="style.css" rel="stylesheet" />
	
	<!-- <script src="https://unpkg.com/vue"></script> -->
</head>
<body>
	<div id="app">
		<input v-model="message"><br />
		{{ message }}
		<ul>
			<li v-for="food in food_items">{{ food }}</li>
		</ul>
		<button v-on:click="buttonClick">Click Me</button>
	</div>
	<div id="vue-app">
		<h1>{{greet('night')}}</h1>
		<h1>{{schedule('MaldivesPost')}}</h1>
		<h2>{{address('CoralVille')}}</h2>
		<p>Name: {{ name }}</p>	
		<p>job:{{ job }}</p>

		<h1>Events</h1>
		<button v-on:click="add(1)">Add a Year</button>
		<button v-on:click="subtract(1)">Subtract a Year</button>
		<button v-on:dblclick="add(20)">Add 10 years</button>
		<button v-on:dblclick="subtract(20)">Minus 10 years</button>
		<button v-on:dblclick="add(100)">Add 100 years</button>
		<button v-on:click="subtract(100)">Minus 100 years</button>
		<p>My age is {{ age }}</p>
		<div id="canvas" v-on:mousemove="updateXY">{{ x }},{{ y }}</div>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				'message' : 'Hello Vue Js',
				'food_items' : ['hamburger', 'hotdog', 'fries']
			},
			methods: {
				buttonClick: function(){
				alert('Hey I was clicked');
				}
			}
		});
	</script>
<script src="app.js"></script>
</body>
</html>